.godot/
export/
build/
tools/out/
*.apk
*.aab
*.idsig
google-services.json
GoogleService-Info.plist
android/build/
android-plugins/*/build/
android-plugins/*/.gradle/
android-plugins/*/local.properties
ads_config.json
override.cfg
